:root {
  --background-color: #181f2a;
  /* --violet: rgba(78, 58, 183, 0.55); */
  --violet: red;
}

* {
  box-sizing: border-box;
}

.main-parent-container {
  background: var(--background-color);
  min-height: 100vh;
}

.parent-container {
  max-width: 764px;
  width: 95%;
  margin: auto;
  /* margin-top: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.waves-heading,
.library-btn {
  color: white;
}

#visualizer {
  /* height: 30%; */
  height: 100px;
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

/* .track{
	width: 3%;
	height: 25%;
	background: red;
	color: red;
	transition: .01s;
}

.track:nth-child(2n){
	height: 15%;
}

.track:nth-child(3n){
	height: 20%;
}

.track:nth-child(7n){
	height: 35%;
} */

.track {
  width: 3%;
  height: 10%;
  background: green;
  /* background: var(--violet); */
  transition: 0.01s;
}

.track:nth-child(2n) {
  height: 15%;
}

.track:nth-child(3n) {
  height: 20%;
}

.track:nth-child(7n) {
  height: 35%;
}

#toggle-play {
  border: none;
  background-color: transparent;
  fill: var(--violet);
  min-height: 25px;
  min-width: 25px;
  width: 2%;
  height: 2%;
  position: absolute;
  top: 85vh;
  left: 49vw;
}

#toggle-play:hover {
  cursor: pointer;
}
